#root {
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 30px !important;
}
h2 {
  font-size: 25px !important;
}
h3 {
  font-size: 20px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.Login-page,
.searchinput-page {
  background: url("./assets/images/netflix-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
  min-height: 100vh;
  position: relative;
}
.Login-page::after {
  background: rgb(0 0 0 / 52%);
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
}
.Login-page .container {
  position: relative;
  z-index: 9;
}
.Login-page .logo {
  text-align: left;
}
.Login-page .logo img {
  width: 120px;
}
.form-area {
  background: #000000ba;
  color: #fff;
  max-width: 500px;
  padding: 30px;
  margin: 0 auto;
}
.form-inside input {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 8px 10px;
  border: 1px solid #999;
  background: #cfcfcf;
  border-radius: 5px;
  color: #000;
}
.form-inside input::placeholder {
  color: #000;
}
.form-inside button {
  background: rgb(229, 9, 20);
  color: #fff;
  width: 100%;
}
.form-inside p {
  margin-top: 20px;
}
.error-msg {
  color: rgb(229, 9, 20);
}
.signouty-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signouty-area .logo img {
  width: 110px;
}
.video-content {
  position: absolute;
  top: 30%;
  width: 100%;
}
.title-header {
  max-width: 500px;
  background: rgb(10 10 10 / 55%);
  padding: 20px 20px;
  color: #fff;
}
.title-header p {
  font-size: 13px;
  font-weight: 300;
}
.video-bg iframe {
  height: 850px;
  width: 100%;
}
.signout img {
  width: 35px;
}
.userheader {
  position: absolute;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.69) 50%,
    rgba(0, 0, 0, 0.11) 100%
  );
  padding: 15px 0;
  z-index: 9;
}
.signout button {
  background: transparent;
  color: #fff;
  border: 0;
}
.video-bg {
  position: relative;
}
.movie-list,
.movie-cards {
  display: flex;
}
.movie-cards {
  overflow: hidden;
}
.movie-list {
  overflow-x: scroll;
}
.movie-card {
  padding: 10px;
}
.movie-card-wrap {
  text-align: left;
  padding: 15px;
  color: #fff;
}
.browse-page {
  background: #000;
}
.movie-main-wrapper {
  margin-top: -15%;
  position: relative;
}
.signout,
.singout-wrap {
  display: flex;
}
button.gpt-btn {
  background: #2f8ed6;
  border-radius: 6px;
  padding: 8px;
  color: #fff;
  font-size: 14px;
  margin-right: 15px;
}
.searchinput-page input {
  padding: 10px;
  width: 500px;
  border: 1px solid;
}
.searchinput-page button {
  background: rgb(229, 9, 20);
  color: #fff;
}
.searchinput-page {
  padding-top: 100px;
}
select.lang-select {
  font-size: 14px;
  border-radius: 5px;
  margin-right: 10px;
}
